<div class="card" style="width: 18rem;">
    <div class="card-header row">
        <div class="col-md-6">Mis Grupos</div>
        <div class="col-md-6"><button type="button" class="btn btn-info">Crear</button></div>
    </div>
    <ul class="list-group list-group-flush" *ngFor="let group of groupList">
        <li class="list-group-item">
            <p>{{group.name}}</p>
            <button type="button" (click)="addUserToGroup()" class="btn btn-info">{{this.contentbutton}}</button>
        </li>

    </ul>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>