<app-header></app-header>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <app-grupos></app-grupos>

        </div>
        <div class="col-md-6 gedf-main">

            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Hacer Publicación</a>
                        </li>
                    </ul>
                </div>
                <div [formGroup]="formPost" (ngSubmit)="publicar()" class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea formControlName="contentPost" class="form-control" id="message" rows="3" placeholder="Que estás pensando?"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input formControlName="imagePost" type="file" (change)="onUpload($event)" accept=".jpg, .png, .jpeg" class="custom-file-input">
                                    <label class="custom-file-label" for="customFile">Cargar imagen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary" (click)="publicar()">Publicar</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="card gedf-card" *ngFor="let post of publicacionList">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">{{post.user.name}}</div>
                                <div class="h7 text-muted">{{post.user.email}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{post.posted_text}}
                    </div>
                    <div *ngIf="post.image_url" class="card-body">
                        <img width="500" src={{post.image_url}} alt="">
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Me gusta</a>
                        <a (click)="viewComment()" class="card-link"><i class="fa fa-comment"></i> Comentar</a>
                    </div>
                    <div *ngIf="comentar==true">
                        <app-comment></app-comment>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <app-user></app-user>
        </div>

    </div>