<nav class="navbar navbar-light bg-white">
    <a href="#" class="navbar-brand">Red Social</a>
    <form class="form-inline">
        <div>
            <img id="avatar" height="25" src="{{this.avatar}}" alt=""> &nbsp;<span class="title-name">{{this.username}}</span>
        </div>
        <div class="input-group">
            <div class="container-fluid  margin">
                <button target="_blank" class="themeBtn" (click)="cerrarSesion()">Cerrar Sesión</button>
            </div>
        </div>
    </form>
</nav>
