<div class="container">
    <div [formGroup]="formRegister" (ngSubmit)="registrar()" class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <span id="reauth-email" class="reauth-email">Regístrate</span>
        <input formControlName="name" type="text" name="name" id="name" class="form-control spacing-bottom-10" placeholder="Nombre" required autofocus>
        <input formControlName="email" type="text" name="email" id="email" class="form-control spacing-bottom-10" placeholder="Correo Electrónico" required autofocus>
        <input formControlName="password" type="password" name="password" id="password" class="form-control spacing-bottom-10" placeholder="Contraseña" required>
        <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" class="form-control spacing-bottom-10" placeholder="Confirmar Contraseña" required>
        <span class="danger-message" *ngIf="passwordAlert==true">Password no coinciden</span>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="registrar()">Registrar</button>

        <a type="submit" class="forgot-password" routerLink="/login">Tengo una cuenta</a>
    </div>

</div>