<div class="col-md-10">
    <div class="container-fluid well span8">
        <div class="panel panel-default">
            <div class="panel-body">
                <form accept-charset="UTF-8" action="" method="POST">
                    <textarea class="form-control counted" name="message" rows="5" style="margin-bottom:10px;"></textarea>
                    <h6 class="pull-right" id="counter"></h6>
                    <button class="btn btn-info" type="submit">Comentar</button>
                </form>
            </div>
        </div>
    </div>
</div>