<div class="card" style="width: 18rem;">
    <div class="card-header">
        Quizas conoces
    </div>
    <ul class="list-group list-group-flush" *ngFor="let u of userList">
        <li class="list-group-item">
            <p>{{u.name}}</p>
            <button type="button" class="btn btn-info">Seguir</button>
        </li>

    </ul>
</div>