<div class="container">
    <div [formGroup]="formLogin" (ngSubmit)="login()" class="card card-container">

        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <span id="reauth-email" class="reauth-email">Iniciar Sesión</span>
        <input formControlName="email" type="text" name="email" id="username" class="form-control spacing-bottom-10" placeholder="Correo Electrónico" autofocus>
        <input formControlName="password" type="password" name="password" id="password" class="form-control spacing-bottom-10" placeholder="Contraseña">
        <button class="btn btn-lg  btn-block btn-signin btn-info" type="submit" (click)="login()">Iniciar</button>

        <!-- /form -->
        <a class="forgot-password" routerLink="/registrarse">
          Registrarse
      </a>
    </div>

</div>